.contact-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f4f8;
  padding: 20px;
}

.contact-container {
  background: #0f2b4d;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.contact-container h2 {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-description {
  color: #fff;
  font-size: 15px;
  margin-bottom: 30px;
}

.contact-link {
  color: #e68a62;
  text-decoration: none;
  font-weight: 500;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.contact-form label {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #11315b;
  box-shadow: 0 0 8px rgba(17, 49, 91, 0.2);
}

.contact-form button {
  background: #e68a62;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  margin-top: 10px;
}

.contact-form button:hover {
  background: #e68a62;
  transform: translateY(-2px);
}

.contact-toast-success {
  background: #e68a62 !important;
  color: #fff !important;
  border-left: 4px solid #28a745 !important;
  padding: 12px 20px !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;
  font-weight: 700 !important;
  text-align: center !important;
  display: block !important;
  width: 100% !important;
}

.contact-toast-error {
  background: #e68a62 !important;
  color: #fff !important;
  border-left: 4px solid #28a745 !important;
  padding: 12px 20px !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;
  font-weight: 700 !important;
  text-align: center !important;
  display: block !important;
  width: 100% !important;
}
.readonly-input {
  background-color: rgba(255, 255, 255, 0.221); 
  cursor: default;
  opacity: 1;
  border: 1.5px solid rgba(255, 255, 255, 0.138);
  color: #fff;
}
.error-text {
  color: #fff;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 8px;
  display: block;
}
@media (max-width: 600px) {
  .contact-container {
    padding: 30px 25px;
  }
}
