.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #f0f4f8;
  font-family: "Inter", sans-serif;
}

.profile-card {
  background: #0f2b4d;
  width: 420px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(17, 49, 91, 0.1);
}
.profile-toast-success {
  background: #e68a62 !important;
  color: #fff !important;
  border-left: 4px solid #28a745 !important;
  padding: 12px 20px !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;
  font-weight: 700 !important;
  text-align: center !important;
  display: table !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto !important;
  max-width: 90% !important;
}

.profile-toast-error {
  background: #e68a62 !important;
  color: #fff !important;
  border-left: 4px solid #28a745 !important;
  padding: 12px 20px !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;
  font-weight: 700 !important;
  text-align: center !important;
  display: table !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto !important;
  max-width: 90% !important;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.profile-title {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-info label {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  color: #fff;
}

.profile-info input,
.profile-info textarea {
  margin-top: 6px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: #fafafa;
  transition: border 0.2s;
}

.profile-info input:disabled,
.profile-info textarea:disabled {
  background: #f1f1f1;
  color: #666;
}

.profile-info input:focus,
.profile-info textarea:focus {
  border: 1px solid #11315b;
  outline: none;
}

.profile-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.btn {
  border: none;
  padding: 15px 20px !important;
  border-radius: 8px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.btn.edit {
  background-color: #e68a62;
}

.btn.edit:hover {
  background-color: #e68a62;
}

.btn.save {
  background-color: #e68a62;
}

.btn.save:hover {
  background-color: #e68a62;
}

.btn.delete {
  background-color: #e68a62;
}

.btn.delete:hover {
  background-color: #e68a62;
}


@media (max-width: 480px) {
  .profile-card {
    width: 90%;
    padding: 24px;
  }
}

.field-note {
  display: block;
  margin-top: 8px; 
  color: #afbeca;
  font-size: 12px;
}